body {
    height: 800px;
    background-color: darkgreen;
    background-image: linear-gradient(darkblue, cyan, lime);
    background-repeat: no-repeat;
    text-align: center
}

h1 {
    color: white;
    text-shadow: 2px 2px #808080;
    font-size: 20px;
}

h2 {
    color: white;
    text-shadow: 2px 2px #808080;
    font-size: 20px;
}

#bio {
    padding: 20px;
    font=size: 18;
    text-align: center;
}

hr {
    height: 10px;
    background-color: black;
    border-color: black;
    width: 100px;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}

li {
    display: inline;
    padding: 8px;
    color: white;
}

p {
    font-size: 30px;
}

h3 {
    font-size: 40px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

.AboutMe {
    color: white;
}
